* {
	box-sizing: border-box;

	&:before, &:after {
		box-sizing: border-box;
	} // :before, :after
} // *

body {
	background      : darken(site-color('indigo'), 20);
	font            : $mainFont;
} //body

// The defined function part has been put to functions.scss
#{headings()} {
  font 				 		: $mainFont;
  line-height 		: 1.15;
	margin 					: 2.75rem 0 1rem;
} //headings

h1 {
	margin-top 			: 0;
	font-size 			: 4.209em;
} // h1

h2 {
	font-size 			: 3.157em;
} // h2

h3 {
	font-size 			: 2.369em;
} // h3

h4 {
	font-size 			: 1.777em;
} // h4

h5 {
	font-size 			: 1.333em;
} // h5

p {
	margin          : 0 0 1.25em;
} //p

small, .text_small {
	font-size 			: 0.75em;
}

a {
	color 					: site-color('indigo');
	display         : block;
	text-decoration : none;
} // a

ul {
	list-style      : none;
	margin 					: 0;
	padding 				: 0;
} // ul

img {
	display         : block;
	max-width       : 100%;
} // img

figure {
	margin: 0;
	padding: 0;
} // figure

// Clearfix
.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	} // :after
} // .clearfix

.wrap {
	transition: all 0.35s ease-in-out;
	padding-left: 15px;
	padding-right: 15px;
} // .wrap

.outer-wrap {
	transition: all 0.35s ease-in-out;
	margin: 0 auto;
	
	@include breakpoint($tablet) {
		max-width: 750px;
	} // bp($tablet)
	
	@include breakpoint($desktop) {
		max-width: 1000px;
	} // bp($desktop)

	@include breakpoint($common) {
		max-width: 1300px;
	} // bp($common)
	
	@include breakpoint($widescn) {
		max-width: 1700px;
	} // bp($wide)
} // .outer-wrap