// Media Query
$narrow 	          : 340px;
$tablet 	          : 768px;
$desktop 	          : 1024px;
$common             : 1366px;
$widescn 	          : 1920px;

// Font-weight
$font-weight: (
	'light'           : 300,
	'regular'         : 400,
	'bold' 			      : 700,
	'black'   	      : 900
);

// Color Swatches
$site-colors: (
  'ocean'           : #0091DA,
  'leaf'            : #78BE20,
  'indigo'          : #1D428A,
  'plum'            : #7F35B2,
  'aqua'            : #00C1D5,
  'text'            : #717074,
  'night'           : #000,
  'day'             : #FFF
);