.resources {
	ul {
		list-style: none;

		li {
			margin-bottom: 30px;
		} // li

		a {
			color: site-color('day');
		} // a

		img {

			margin-bottom: 10px;
		} // img
	} // ul

	@include retina('iPhonel') {
		ul {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			z-index: 10;

			li {
				padding: 10px;
				width: calc(100% / 12 * 6);
			} // li
		} // ul
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
			position: relative;
			width: 80%;
			z-index: 10;

			li {
				padding: 10px 15px;
				width: calc(100% / 12 * 4);
			} // li
		} // ul
	} // bp($tablet)

	@include breakpoint($common) {
		ul {
			li {
				width: calc(100% / 12 * 3);
			} // li
		} // ul
	} // bp($common)
} // .resources