.submit-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;

	h3 {
		font-size: 1.5em;
		margin-bottom: 40px;
	} // h3

	.input {
		margin-bottom: 30px;

		label {
			display: block;
			width: 100%;

			small {
				color: rgba(site-color('day'), 0.65);
				font-size: 0.7em;
			} // small
		} // label

		input, textarea {
			padding: 5px;
			width: 100%;
		} // input, textarea

		input {
			border: 0;

			&[type="submit"] {
				background: transparent;
				border: 1px solid site-color('day');
				border-radius: 5px;
				color: site-color('day');
				padding: 10px 15px;
			} // [type="submit"]
		} // input

		.inputype {
			> div {
				display: inline-block;
				margin-right: 20px;
				
				label, input {
					display: inline-block;
					width: auto;
				} // label, input
			} // > div
		} // .inputype
	} // .input

	@include retina(iPhonel) {
		.input {
			display: flex;

			label {
				width: grid-width(4);
			} // label

			input, textarea {
				width: grid-width(8);
			} // input, textarea

			input {
				&[type="submit"] {
					width: auto;
				} // [type="submit"]
			} // input
		} // .input
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		.input {
			display: flex;

			label {
				margin-right: 20px;
				width: grid-width(4);
			} // label

			input, textarea, .inputype {
				width: grid-width(8);
			} // input, textarea, .inputype

			input {
				&[type="submit"] {
					width: auto;
				} // [type="submit"]
			} // input
		} // .input
	} // bp($tablet)

	&.booking {
		form {
			.input {
				display: block;

				label, input {
					display: block;
					width: 100%;
				} // label, input

				label {
					margin-bottom: 10px;
				} // label

				input {
					&[type="submit"] {
						width: auto;
					} // submit
				} // input
			} // .input
		} // form
	} // .booking
} // .submit-form

.submit-message {
	margin-bottom: 100px;

	ul {
		margin-bottom: 20px;

		li {
			margin-bottom: 10px;

			i {
				margin-right: 10px;
			} // i
		} // li
	} // ul

	@include breakpoint($desktop) {
		ul {
			display: flex;

			li {
				margin-right: 20px;
				width: grid-width(6, true);
			} // li
		} // ul
	} // bp($desktop)
} // .submit-message