.videos {
	&-listing_item {
		margin-bottom: 30px;
	} // -listing_item

	@include retina('iPhonel') {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		&-listing_item {
			width: grid-width(6, true);
		} // -listing_item
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		&-listing_item {
			width: grid-width(4, true);
		} // -listing_item
	} //bp($tablet)

	@include breakpoint($desktop) {
		&-listing_item {
			width: grid-width(3);

			&:not(:nth-child(3n)) {
				margin-right: 20px;
			} // :nth-child(4n+1)
		} // -listing_item
	} // bp($desktop)

	@include breakpoint($common) {
		&-listing_item {
			width: grid-width(2);

			&:nth-child(n) {
				margin-right: 0;
			} // nth-child(n)

			&:not(:nth-child(5n)) {
				margin-right: 20px;
			} // :nth-child(4n+1)
		} // -listing_item
	} // bp($common)
} // .videos